body {
  background-color: #0c1620;
  margin-top: 80px;
  --header-load-time: 300ms;
}

.header{
  color: #f5d38c;
  background-color: #1e272e;
  border-radius: 10px;
  text-align: center;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;  
  animation: header-load var(--header-load-time) ease-out;
}

h1{
  margin-top; 0px;
}

label{
  color: #4d99a6;
}

input{
  color: #4d99a6;
  border: 1px solid #4d99a6; 
}

h2{
  opacity: 0;
  color: #f5d38c;
  text-align:center;
  animation-name: h2-load;
  animation-delay: var(--header-load-time);
  animation-duration: 300ms;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

#output{
  border: 2px solid #ffc031;
  border-radius: 5px;
  color: #f5d38c;
  background-color: #1e272e;
  padding: 20px 50px 20px 50px;
  width: 80%;
  max-height: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  overflow: auto;
  animation: div-load var(--header-load-time) ease-out;
}

button{
  margin-left: 10px;
  margin-top: 10px;
}

@keyframes header-load{
  0%{
    transform: translatey(-100%);
  }
  100%{
    transform: translatey(0%);
  }
}

@keyframes div-load{
  0%{
    transform: translatey(300%);
  }
  100%{
    transform: translatey(0%);
  }
}

@keyframes h2-load{
  0%{
    opacity: 0;
  }
  100%{
     opacity: 1;
  }
}
